<% layout("/layouts/boilerplate") %>
<body>
    <h3>edit listing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=put">
        <input name="listing[title]" value="<%= listing.title %>" type="text"><br><br>
        <input name="listing[image]" value="<%= listing.image %>" type="text"><br><br>
        <input name="listing[price]" value="<%= listing.price %>" type="number"><br><br>
        <input name="listing[size]" value="<%= listing.size %>" type="text"><br><br>
        <input name="listing[medium]" value="<%= listing.medium %>" type="text"><br><br>
        <!-- <input name="listing[available]" value="<%= listing.available %>" type="text"><br><br> -->
        <label>Available:</label>
        <select name="listing[available]">
            <option value="yes" <%= listing.available === 'yes' ? 'selected' : '' %>>Yes</option>
            <option value="no"  <%= listing.available === 'no' ? 'selected' : '' %>>No</option>
        </select>
        <button>Add</button>
    </form>
</body>