<% layout("/layouts/boilerplate") %>
<body>
    <h2>All Paintings</h2>

    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%for(let listing of allListings){ %>
        <div class="card col" >
            <a href="/listings/<%=listing._id%>" class="img-anchor"><img src="<%=listing.image%>" class="card-img-top" alt="listing_image" style="height: 20rem;"></a>
            <div class="card-body">
                <p class="card-text"><b>Title</b>: <%= listing.title %></p>
                <p class="card-text"><b>Price</b>:&#8377;<%=listing.price.toLocaleString("en-IN")%></p>
                <p class="card-text"><b>Available ?</b> <%= listing.available %></p>
                <div class="index-two-btn">
                    <form method="get" action="/listings/<%=listing.id%>/payment">
                        <button class="btn btn-danger mt-2 buy-btn">Buy Now</button>
                    </form>
                    <form method="post" action="/listings/<%=listing.id%>/save">
                        <button class="btn btn-success mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <%} %>
    </div>
    <ul>
    
</body>
