<% layout("/layouts/boilerplate") %>
<body>
    <h2>Painting in Detail</h2>
     <ul>
        <img src="<%=listing.image%>" alt="" height="200px">
        <li>title : <%=listing.title%></li>
        <li>price : &#8377;<%=listing.price.toLocaleString("en-IN")%></li>
        <li>size : <%=listing.size%></li>
        <li>medium : <%=listing.medium%></li>
        <li>Available? <%=listing.available%></li>
     </ul>

     <form method="get" action="/listings/<%=listing.id%>/payment">
        <button>Buy Now</button>
     </form><br>
     <form method="post" action="/listings/<%=listing.id%>/save">
        <button>Save Painting</button>
     </form><br>

     <form method="get" action="/listings/<%=listing.id%>/edit">
        <button>edit</button>
     </form><br>
     <form method="post" action="/listings/<%=listing._id%>?_method=delete">
        <button>delete</button>
     </form>
</body>
